<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Comprehensive override for backward compatibility with Android 4.4 (API 19) -->
    <!-- WARNING: This forces all React Native libraries to ignore their minSdk requirements -->
    <uses-sdk tools:overrideLibrary="
        com.facebook.react,
        com.facebook.fresco,
        com.facebook.imagepipeline,
        com.facebook.soloader,
        com.facebook.hermes,
        com.facebook.jni,
        com.facebook.flipper,
        com.facebook.yoga,
        com.facebook.common,
        com.facebook.datasource,
        com.facebook.drawee,
        com.facebook.drawee.backends,
        com.facebook.drawee.backends.pipeline,
        com.facebook.drawee.controller,
        com.facebook.drawee.generic,
        com.facebook.drawee.view,
        com.facebook.imagepipeline.core,
        com.facebook.imagepipeline.decoder,
        com.facebook.imagepipeline.memory,
        com.facebook.imagepipeline.cache,
        com.facebook.react.bridge,
        com.facebook.react.common,
        com.facebook.react.module,
        com.facebook.react.uimanager,
        com.reactnativecommunity.asyncstorage,
        androidx.lifecycle,
        androidx.core,
        androidx.annotation,
        androidx.fragment,
        androidx.activity" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      tools:targetApi="28">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
